<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('Css/style.css') }}" type="text/css" />
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    {% block header %}
    <header class="nav">

        <ul>
            <li><a href={{ path("home") }}>Home</a></li>
            <li><a href={{ path("annoucements") }}>List</a></li>
            <li><a href={{ path("task") }}>CreationSymfony</a></li>
            <li><a href={{ path("taskannoucements") }}>TpFormSymfony</a></li>
        </ul><br>

    </header>
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
