{% extends 'base.html.twig' %}


{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent()}} HomeController!{% endblock %}

{% block header %} {{ parent() }} {% endblock %}
{% block body %}

    {% for ValeurList in ListDetail %}
        <li>{{ 'detail.id'|trans }}: {{ ValeurList.id }}</li><br>
        <li>{{ 'detail.title'|trans }}: {{ ValeurList.title }}</li><br>
        <li>{{ 'detail.content'|trans }} : {{ ValeurList.content }}</li><br>
        <li>{{ 'detail.price'|trans }} : {{ ValeurList.price }}</li><br>
        <li>{{ 'detail.date'|trans }} : {{ ValeurList.createdAt |date("d/m/Y") }}</li>
    {% endfor %}
    <a href="{{ path('home')}}">Go back</a>
{% endblock %}