{% extends 'base.html.twig' %}


{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent()}} HomeController!{% endblock %}

{% block header %} {{ parent() }} {% endblock %}
{% block body %}

    {% for ValeurList in ListDetail %}
        <li>Id : {{ ValeurList.id }}</li><br>
        <li>Title : {{ ValeurList.title }}</li><br>
        <li>Content : {{ ValeurList.content }}</li><br>
        <li>price : {{ ValeurList.price }}</li><br>
        <li>Date de publication : {{ ValeurList.createdAt |date("d/m/Y") }}</li>
    {% endfor %}
    <a href="{{ path('home')}}">Go back</a>
{% endblock %}