{% extends 'base.html.twig' %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent()}} HomeController!{% endblock %}

{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.price) }}
    {{ form_row(form.content) }}

    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}