{% extends 'base.html.twig' %}


{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent()}} HomeController!{% endblock %}

{% block header %} {{ parent() }} {% endblock %}
{% block body %}

    {% for ValeurList in ListAnnoucements %}
        <li>{{ 'annoucements.title'|trans }} : {{ ValeurList.title }}</li><br>
        <li>{{ 'annoucements.content'|trans }} : {{ ValeurList.content }}</li><br>
        <li>{{ 'annoucements.price'|trans }} : {{ ValeurList.price }}</li><br>
        <li>{{ 'annoucements.date'|trans }} : {{ ValeurList.createdAt |date("d/m/Y") }}</li><br><br>
    {% endfor %}

{% endblock %}